<div class="spinner" *ngIf=loading><mat-spinner></mat-spinner></div>   
   <form [formGroup]="heroeForm" (ngSubmit)="onSubmit()">
            <div class="form-container">
                    <h1>{{title}}</h1>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
              <!-- error block -->
              <small class="invalid" *ngIf="heroeForm.controls['name'].errors?.minlength">
                <sup>*</sup>Name must be 2 characters long
              </small> 
              <small class="invalid" *ngIf="heroeForm.controls['name'].errors?.pattern">
                <sup>*</sup>No special character allowed
              </small>
            <mat-form-field appearance="fill">
                <mat-label>Age</mat-label>
                <input matInput type="number" formControlName="age">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Power quality</mat-label>
                <input matInput formControlName="power">
            </mat-form-field>
            <small class="invalid" *ngIf="heroeForm.controls.power.errors?.minlength">
                <sup>*</sup>Power must be 2 characters long
              </small> 
              <small class="invalid" *ngIf="heroeForm.controls.power.errors?.pattern">
                <sup>*</sup>No special character allowed or numbers
              </small>


             <!-- Submit Button -->
          <button mat-button color="primary" type="submit" [disabled]="heroeForm.invalid">Enviar Superhero</button>
    </div>
        </form>
