<mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput [formControl]="searchFormControl" placeholder="Search Heroe">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <mat-hint>Hint</mat-hint>
  </mat-form-field>

<mat-selection-list #heroes [multiple]="false" (selectionChange)="selectionChange($event.option)">
  <mat-list-option *ngFor="let heroe of search$|async" [value]="heroe">
    {{heroe.name}}
  </mat-list-option>
</mat-selection-list>
<p>
  Option selected: {{heroeControl.value?.name ?? 'None'}}
</p>
<mat-paginator [length]="allHeroesList.length" [pageSize]="5" (page)='paginate($event)'
	[pageSizeOptions]="sizeOptions" showFirstLastButtons>

</mat-paginator>
<div class="actions">
      <button mat-raised-button color="primary">Añadir</button>
      <button mat-raised-button color="primary">Editar</button>
      <button mat-raised-button color="primary" (click)="openDialog()">Eliminar</button>
</div>